.portfolio {
  background-color: var(--clr-night);
  padding: 0 10rem 5rem;
  height: 55rem;
  width: 100%;
  overflow-y: hidden;
}
.portfolio h2 {
  color: var(--clr-white);
  font-family: var(--font-text);
  text-align: center;
  font-size: 2em;
  padding-top: 5rem;
}
.portfolio p {
  color: var(--clr-white);
  font-family: var(--font-text);
  text-align: center;
  font-size: 1rem;
  padding: 2rem 5rem;
}
.project_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}
.project_list .box {
  background-color: var(--clr-grey);
  text-align: center;
  padding: 2rem 1rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.project_list .box img {
  width: 100%;
}
.project_links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  z-index: 1;
}
.project_link_first,
.project_link_second {
  background-color: var(--clr-night);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease;
  color: var(--clr-white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search_code {
  color: var(--clr-white);
}
.displayed_img {
  width: 100%;
  padding-top: 5rem;
}
.close_button {
  position: fixed;
  top: 2rem;
  right: 3rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--clr-white);
  z-index: 1001;
}
.white_close {
  color: var(--clr-white);
}
.full_screen_img {
  margin: auto;
  overflow-x: hidden;
  padding: 5rem;
}
@media (max-width: 900px) {
  .portfolio {
    padding: 0 5rem 5rem;
    height: 50rem;
  }
  .portfolio p {
    font-size: 1rem;
    padding: 2rem 0;
  }
}
@media (max-width: 750px) {
  .portfolio {
    padding: 0 5rem 5rem;
    height: 70rem;
  }
  .project_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .portfolio {
    padding: 0 2rem 5rem;
    height: 65rem;
  }
}
@media (max-width: 450px) {
  .portfolio {
    padding: 0 2rem 5rem;
    height: 150rem;
  }
  .project_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
